.about-container {
  color: white;
  padding: 100px 200px 0 100px;
}
.about-author {
  letter-spacing: 5px;
  font-weight: 300;
  margin-top: -10px;
}
.about-info {
  margin-top: 15px;
  font-weight: 300;
  color: var(--white);
}
.about-social {
  margin-top: 15px;
  display: flex;
  gap: 20px;
}
.about-social__link {
  text-decoration: none;
  color: white;
}
.about-social__icon {
  font-size: 25px;
}
.about-button-page button {
  margin-top: 15px;
}