.user-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 50px;
}
@media screen and (max-width: 1280px) {
  .user-list {
    padding: 25px;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 800px) {
  .user-list {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 20px;
  }
}
@media screen and (max-width: 550px) {
  .user-list {
    grid-template-columns: repeat(1, 1fr);
  }
}
