@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

:root {
  --light-green: #00897b;
  --dark-green: #00564d;
  --dark-background: #282828;
  --white: #f4f4f4;
}