.not-found{
  margin-top: 20px;
  color: var(--white);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
.not-found__status-code{
  font-size: 90px;
}

.not-found__title{
  font-weight: 300;
  margin-top: -30px;
  letter-spacing: 5px;
}
.not-found-img{
  user-select: none;
  pointer-events: none;
  width: 400px;
}
.not-found button:active{
  transform: scale(.98);
}

.not-found button{
  margin-top: 20px;
}